@import "tailwindcss";

@theme {
  --color-mid: #0d0c13;
  --color-base: #161520;
  --color-dark: #0B0A0F;
  --color-shadow: #3D3B54;
  --color-primary: #383369;
  --color-constrast: #00D4FF;
  --color-typography: #F0F0F5;
}

@layer base, components, utilities;

*{
    font-family: 'Google Sans Code', monospace;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
